<h1>Log in!</h1>

<form action="/session" method="POST">
<label for= "user_username">Username</label>
  <input type="text" name="user[usernaem]" id="user_username">
  <br>

  <input type="submit" value="Log in!">
</form>
