<style>
html {
  background: url(https://images.pexels.com/photos/126407/pexels-photo-126407.jpeg?w=940&h=650&auto=compress&cs=tinysrgb) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
</style>

<h1> dis be all teh cats </h1>

<ul>
  <%= render @cats %>
</ul>
